.projects-section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(
			circle at 70% 30%,
			rgba(12, 255, 225, 0.03) 0%,
			transparent 25%
		),
		radial-gradient(
			circle at 30% 70%,
			rgba(255, 46, 147, 0.02) 0%,
			transparent 25%
		);
	z-index: 0;
	pointer-events: none;
}

.project-description {
	max-height: 74px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	position: relative;
}

/* .project-description::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 20px;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)
	);
	pointer-events: none;
} */

.project-link {
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 600;
	text-decoration: none;
	position: relative;
	transition: all 0.3s ease;
}

.project-link:hover {
	color: var(--teal);
}

/* .project-link::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--teal);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease;
}

.project-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
} */
